.leftPage{
    top: 60px;
    width: 300px;
    height: 750px;
    /*border: black solid 1px;*/
    background-color: white;
    -moz-transition: margin-left 2s;
    transition: margin-left 2s;
}
.left_head{
    text-align: center;
    width: 99px;
    height: 30px;
    background-color: rgba(244,164,96,0.5);
}
.left_head_activate{
    text-align: center;
    width: 100px;
    height: 30px;
    background-color: rgba(244,164,96,1);
}
#first_leftContent{
    margin-top: 30px;
}
.list_parent{
    /*padding-left: 10px;*/
    position: relative;
    top: 20px;
    padding-top: 20px;
}
.list_child {
    position: relative;
    left: 20px;
    /*padding-left: 20px;*/
    display: none;
    top: 20px;
}
/*.list_txt{*/
/*    margin-top: 15px;*/
/*    !*padding-left: 15px;*!*/
/*}*/
.img_add_subtract{
    width: 15px;
    height: 15px;
}
.seen_child{
    display: none;
    position: relative;
    left: 20px;
}
#first_left{
    left: 30px;
    top: 60px;
    width: 270px;
    height: 710px;
    /*border: black solid 1px;*/
    overflow-x: hidden;
    overflow-y: auto;
}
#BtnLeftMenubtn {
    z-index: 100;
    position: absolute;
    top: 22%;
    left: 300px;
    height: 75px;
    border: 0;
    border-left: 1px solid rgba(244,164,96,0.5);;
    background: rgba(244,164,96,0.5);;
    color: #fff;
    cursor: pointer;
}
#header_map_btn{
    margin: 10px;
    width: 280px;
}